<p id="notice"><%= notice %></p>

<p>
  <strong>Dosage type:</strong>
  <%= @dosage_form.dosage_type %>
</p>

<%= link_to 'Edit', edit_dosage_form_path(@dosage_form) %> |
<%= link_to 'Back', dosage_forms_path %>
